body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 14px;
    background-color: #F6F9FA;
    color: #0D444D;
}
.container{
    padding: 0 15px;
    margin-left: auto;
    margin-right: 10.6%;
    width: 100%;
}
header{
    background-color: #2A8086;
    -webkit-box-shadow: 0 1px 10px rgb(18 87 91 / 25%);
    -moz-box-shadow: 0 1px 10px rgba(18, 87, 91, 0.25);
    box-shadow: 0 1px 10px rgb(18 87 91 / 25%);
    position: relative;
    z-index: 1;
}
header .container{
    display: flex;
    align-items: center;
}
.navbar-nav{
    display: flex;
    flex: 1 0 0%;
    list-style: none;
    color: #C5E1E6;
    padding-left: 29px;
    margin: 28px 0;
}
.navbar-nav a{
    font-weight: 500;
    padding: 14px 26px;
}
.navbar-nav a,.custom-btn{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 18px;
}
.navbar-nav .login-btn,.navbar-nav .signup-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a,span{
    display: inline-block;
}
a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.flex-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.custom-btn{
    border-radius: 100px;
    border: 1px solid #C5E1E6;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-nav .signup-btn{
    padding: 14px 11px;
}
.icon-search{
    font-size: 32px;
}
.navbar-nav .search-btn{
    padding: 9px 16px;
}
.navbar-nav .active span,.navbar-nav a:hover span{
    border-bottom: 2px solid #C5E1E6;
}
nav{

}
.section-hero{
    margin-top: -1px;
    padding: 44px 0 93px;
    /*background-image: url("/../online-zoo/assets/images/hero-bg.png");*/
    background-image: url("../../assets/images/hero-bg.png");
}
.section-bg{
    background-repeat: no-repeat;
    background-size: cover;
    color: #F3F7F8;
}
h1,h2{
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 72px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 33px;
}
h1 span{
    font-size: 64px;
    font-weight: 500;
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}
.row>*{
    padding-left: 15px;
    padding-right: 15px;
}
.hero-text{
    max-width: 480px;
    margin-bottom: 90px;

}
.watch-btn{
    width: 258px;
    border: none;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
    background-color: #fff;
    color: #0D444D;
}
.watch-btn:hover{
    color: #fff;
    background-color: #0D444D;
}
*, ::after, ::before {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.card-img,.watch-frame,.img-wrapper,.img-animal-inner{
    position: relative;
    display: inline-block;
}
.card-img:before,.img-wrapper:before,.img-animal-inner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
/*.watch-frame{
    display: block;
    width: 804px;
    height: 666px;
    !*clip-path: path( "M723.969 172.95C791.87 262.733 819.491 359.131 795.323 445.606C771.155 532.081 695.198 608.632 599.676 643.6C504.154 678.096 388.492 670.535 270.528 636.04C152.564 601.544 32.2988 539.641 5.82885 456.474C-20.6411 373.78 46.6846 269.348 134.15 176.258C222.192 82.6946 330.948 0 439.705 0C547.887 0.472541 656.643 83.1672 723.969 173.95Z" );*!
    transition: 5s;
}*/
.watch-frame{
    display: block;
    height: 666px;
    width: 804px;
    mask: url("../../assets/images/mask.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask: url("../../assets/images/mask.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all .4s ease-out;
}
.watch-frame-img{
    background-image: url('../../assets/images/panda-hero.jpg');
    width: 804px;
    height: 666px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.watch-frame img,.card-img img,.img-wrapper img{
    padding: 1px;
}
.icon-wrapper{
    position: absolute;
    top: calc(50% - -3px);
    left: calc(50% - 13px);

}
.icon-play{
    background-color: rgba(46, 46, 46, 0.8);
    width: 99px;
    height: 74px;
    border-radius: 20px;
    font-size: 35px;

}
.section-how-it-works{
    margin-top: -83px;
}
.section-how-it-works .flex-item,.section-pay-and-feed .col-sm-4 .flex-item{
    background: #FFFFFF;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    width: 145px;
    height: 145px;
}
.section-how-it-works h2{
    margin-bottom: 90px;
}
.section-how-it-works .col-sm-4{
    text-align: center;
    margin-bottom: 85px;
}
.section-how-it-works p{
    margin-top: 21px;
}
.section-frame{
    background-image: url("../../assets/images/frame-bg.png");
    padding: 47px 0 154px;
    position: relative;
    margin-bottom: 70px;
}
.img-bamboo{
    position: absolute;
    max-width: 117px;
    top: 60px;
}
.img-tree-1{

}
.img-tree-2{
    max-width: 90px;
    vertical-align: top;
    margin-top: 18px;
}
.img-panda{
    vertical-align: top;
    margin-right: 11px;
    margin-left: 61px;
}
.pt-43px img{
    display: inline-block;
}
.pt-43px{
    padding-top: 43px;
    text-align: right;
}
.section-frame .col-sm-4 {
    position: relative;
}
.img-tree-3{
    position: absolute;
    right: -30px;
    bottom: -22px;
}
.choose-btn{
    width: 331px;
    justify-content: space-between;
    letter-spacing: 0.1em;
    border: 1.5px solid #19707D;
}
.choose-btn:hover{
    color: #fff;
    border-color: #fff;
    background-color: #19707D;
}
.section-pets-in-zoo{
    margin-bottom: 80px;
}
.section-pets-in-zoo h2{
    margin-top: 10px;
}
.tooltip {
    text-align: center;
    position: absolute;
    left: -134px;
    top: -97px;
    color: #0D444D;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 15px;
    width: 410px;
    height: 100px;
    display: none;
}
.img-animal:hover .tooltip{
    display: block;
}
.custom-card{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
}
.custom-card .d-flex{
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 25px;
}
.custom-card .text-center{
    border-bottom: 1px solid #E5EAEB;
    padding: 15px 30px 27px;
}
.section-pets-in-zoo .col-sm-6{
    margin-bottom: 60px;
}

.card-img:before{
    background-image: url("../../assets/images/fishka-md.png");
    left: 0;
    transition: all 0.5s ease-in-out;
}
.card-img:hover:before,.img-animal-inner:hover:before {
    transform: rotate(360deg);
}
.text-center{
    text-align: center;
}
h3{
    color: #2D2D2D;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
header .form-control{
    display: none;
    padding: 9px 16px;
    max-width: 124px;
}
.ml-auto{
    display: flex;
}
.ml-auto:hover .form-control{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.section-pets-in-zoo .custom-card p{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 0;
    color: #919191;
}

.icon-tv{
    font-size: 32px;
}
.section-pets-in-zoo .col-sm-4{
    margin-bottom: 20px;
}
.btn{
    background-color: unset;
    border: none;
    padding: 0;
}
.owl-nav button{
    position: absolute;
    right: 141px;
    font-size: 21px;
    letter-spacing: -5px;
    width: 25px;
}
button{
    cursor: pointer;
}
.owl-next{
    top: 51%;
}
.owl-prev{
    top: 57%;
}

section{
    position: relative;
}
.img-penguin{
    position: absolute;
    right: 127px;
    bottom: 34px;
}
.section-pay-and-feed{
    background-image: url("../../assets/images/frame-bg-feed.png");
    padding: 85px 0;
    margin-bottom: 97px;
}
.donate-btn{
    background: #C5E1E6;
    width: 356px;
    color: #0D444D;
    letter-spacing: -0.05em;
}
.section-pay-and-feed .col-sm-4 .flex-item{
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
}
.section-pay-and-feed .col-sm-6{
    margin-bottom: 78px;
}

.section-pay-and-feed .col-sm-4{
    text-align: center;
    margin-bottom: 55px;
    position: relative;
}
.section-pay-and-feed .col-sm-4:not(:last-child):before{
    content: '';
    width: 267px;
    height: 1.5px;
    background-color: #C5E1E6;
    position: absolute;
    top: 38%;
    right: -27%;
}
.section-pay-and-feed img{
    position: absolute;
}
.img-tree-4{
    left: 17px;
    top: 120px;
}
.img-bamboo-1{
    right: 32px;
    bottom: 139px;
    max-width: 117px;
}
.section-pay-and-feed .btn{
    letter-spacing: -5px;
    position: absolute;
    top: 33%;
    right: -29%;
    font-size: 21px;
}
.section-pay-and-feed .icon-chevron-right:before{
    color: #C5E1E6;
}
.section-testimonials{

}
.feedback-btn{
    letter-spacing: 0.1em;
    color: #19707D;
    border: 1.5px solid #19707D;
    width: 255px;
    justify-content: space-between;
}
.feedback-btn span{
    font-size: 24px;
}
.section-testimonials h2{
    margin-top: 10px;
}
.section-testimonials .col-sm-6{
    margin-bottom: 46px;
}
.section-testimonials .col-sm-4{
    margin-bottom: 66px;
}
.section-testimonials .custom-card{
    padding: 15px 45px 65px;
}
.date{
    color: #B3B3B3;
    font-size: 14px;
    margin-bottom: 0;
}
.review-text{
    color: #2D2D2D;
    margin-top: 5px;
}
.review-text,h4{
    font-size: 16px;

    font-style: italic;

}

.section-testimonials .custom-card:before{
    left: 75px;
}
.tooltip:before,.section-testimonials .custom-card:before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
}
.user-img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    margin: 18px 17px;
}
h4{
    color: #000000;
}
.section-testimonials .d-flex{
    align-items: center;
}
.img-wrapper:before{
    background-image: url("../../assets/images/fishka-xs.png");
}
.img-wrapper{
    margin: auto;
}
.img-wrapper img{
    max-width: 76px;
}
.section-animals .row{
    justify-content: space-between;
}

.section-animals h2{
    margin-bottom: 64px;
}
h5{
    margin-top: 4px;
    font-family: Roboto Mono,monospace;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2D2D;
}
.section-animals .col:last-child{
    width: 5%;
    position: relative;
}
.section-animals .owl-nav button {
    right: 88px;
}
.section-animals .owl-next {
    top: 14px;
}
.section-animals .owl-prev {
    top: 67px;
}
.section-animals .col{
    margin-bottom: 93px;
}
footer{
    background: #196469;
    padding: 48px 0 45px;
}
footer .row{
    align-items: center;
}
footer p{
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
}
footer .col:last-child{
    flex: 1;
}
footer p:last-child{
    margin: 0;
}
footer p:first-child{
    padding-top: 18px;
    margin: 10px 0;
}
.justify-content-center{
    justify-content: center;
}
.section-error h1{
    margin-top: 35px;
    font-family: Sahitya,Serif;
    font-size: 250px;
    color: #0D444D;
    margin-bottom: 10px;
}
.section-error p{
    font-size: 16px;
    color: #0D444D;
    margin-bottom: 38px;
}
.section-error{
    margin-bottom: 79px;
}
.section-not-found{
    background-image: url("../../assets/images/not-found-bg.png");
    padding-bottom: 75px;
    margin-bottom: 0px;
}
.back-btn{
    letter-spacing: -0.05em;
    background: #19707D;
    width: 247px;
    color: #F3F7F8;
}
.img-panda-1{
    margin-left: auto;
    margin-top: -68px;
    margin-right: 20px;
}
.img-tree-5{
    margin: -27px auto 0;
}
.img-penguin-1{
    margin-left: auto;
    margin-right: 82px;
    margin-top: 14px;
}
.img-tree-6{
    position: absolute;
    right: -107px;
    bottom: -38px;
}
.section-map{
    background: #2A8086;
    padding: 26px 0 15px;
}
.section-map h1{
    font-family: Rubik,sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 60px;
    color: #C5E1E6;
}
.img-map{
    margin-left: 20px;
    max-width: unset;

}
.p-absolute{
    position: absolute;
    z-index: 100;
}
.section-map .container{
    position: relative;
}
.section-map .p-absolute{
    bottom: 9px;
    right: 0;
}
.p-absolute button{
    /*background: rgba(255, 255, 255, 0.4);*/
    background-color: #C5E1E6;
    border: 1.5px solid #FFFFFF;
    border-radius: 50%;
    font-size: 20px;
    width: 32px;
    height: 32px;
    z-index: 100;
    position: relative;
}
.p-absolute .icon-minus{
    margin-right: 11px;
}
.img-animal-inner:before{
    transition: all 0.5s ease-in-out;
    background-image: url("../../assets/images/fishka.png");
}
.img-animal-inner{
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.img-animal-inner:hover:before {
    background-image: url("../../assets/images/fishka-active.png");
}
.img-animal{
    position: absolute;
    z-index: 9;
}
.img-eagle{

}
.img-animal-inner img{
    max-width: 73px;
}
.img-eagle{
    left: 182px;
    top: 441px;
}
.img-crocodile{
    left: 338px;
    top: 511px;
}
.img-gorilla{
    left: 701px;
    top: 612px;
}
.img-panda-fishka{
    left: 1046px;
    top: 477px;
}
aside,.content{
    padding-top: 40px;
}
.card-img-active:before{
    background-image: url("../../assets/images/fishka-active.png");
}
aside{
    text-align: center;
}
aside img{
    border-radius: 50%;
}
aside .card-img:not(.card-img-active) img{
    max-width: 76px;

}
.section-bg-white{
    background-color: #fff;
}
h6{
    text-transform: uppercase;
    font-weight: 500;
    color: #2D2D2D;
    font-size: 14px;
    font-family: Roboto Mono,monospace;
    margin-top: 0;
    margin-bottom: 55px;
}
.content h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}
iframe{
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    height: 604px;
    margin-bottom: 36px;
}
.content p{
    font-size: 18px;
    font-family: Rubik,sans-serif;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.content .row{
    max-width: 93%;
    position: relative;
}
.content .col-sm-4{
    margin-bottom: 20px;
}
.content .owl-nav button {
    right: -47px;
}
.content .owl-next {
    top: 33%;
}
.content .owl-prev {
    top: 52%;
}
.list-unstyled{
    list-style: none;
    padding-left: 0;
}
.list-unstyled p:first-child{
    font-size: 16px;
}
.col-sm-6:first-child li{
    max-width: 515px;
    margin-bottom: 31px;
}
.col-sm-6:first-child .list-unstyled p:last-child{
    text-decoration: underline;
}
.section-info{
    padding: 60px 0 9px;
}

.col-sm-6:last-child li {
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 22px;
}
.col-sm-6:last-child li p{
    margin-top: 7px;
    margin-bottom: 0;
}
.col-sm-6 li img{
    margin-right:5px;
}
.section-bg-white .donate-btn{
    margin: 23px 0 -6px 57px;
}





@media (min-width: 576px) {
    .container{
        max-width: 592px;
    }
    .col-sm-10{
        width: 90%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-7{
        width: 56%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-5{
        width: 44%;
    }
    .col-sm-4{
        width: 33.33333%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-2{
        width: 10%;
    }
    .text-right{
        text-align: right;
    }
}
@media (min-width: 768px) {
    .navbar-toggler{
        display: none;
    }

    .navbar-nav .ml-auto{
        margin-left: auto;
    }
}
@media (min-width: 1201px) {
    .visible-md {
        display: none;
    }
    .container{
        max-width: 1138px;
    }
}


@media (min-width: 1500px) {
    .container{
        max-width: 1510px;
    }
    header .container,footer .container{
        max-width: 1640px;
        margin-right: 4%;
    }
}
@media (max-width: 1399px) {

}
@media (max-width: 1200px) {
    .hidden-md{
        display: none;
    }
    .container{
        max-width: 1170px;
        margin-right: auto;
    }
    .navbar-nav .user-btn{
        padding: 5px 0 5px 15px;
    }
    .navbar-nav .search-btn {
        padding: 17px 16px;
    }
    .navbar-nav a {
        padding: 21px 22px;
    }
    h1 {
        font-size: 64px;
    }
    .section-hero .col-sm-5,.section-hero .col-sm-7 {
        width: 50%;
    }
    .watch-frame,.watch-frame-img {
        width: 560px;
        height: 464px;
    }
    .watch-frame{

    }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}
.modal-backdrop{
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.modal,.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.modal{
    z-index: 1060;
    padding-top: 30px;
}
.modal-dialog {
    max-width: 568px;
    margin: auto;
    z-index: 1070;
    position: relative;

}
.tab-pane{
    display: none;
}
.modal.active,.modal-backdrop.active,.tab-pane.active{
    display: block;
}
.modal-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.header-green{
    background-color: #2A8086;
    padding: 32px 60px;
}
.header-green img{
    margin: auto;
    max-width: 78px;
}
.header-white{
    display: none;
    padding: 46px 60px;
}

.modal-body{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    padding: 17px 60px 46px;
}
.send-btn{
    color: #C5E1E6;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #2A8088;
    box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
    border-radius: 100px;
    font-family: Roboto Mono,monospace;
    width: 448px;
    height: 54px;
    margin-top: 32px;
}
.send-btn:disabled,button.invalid{
    color: #2A8088;
    background-color: #C5E1E6;
}
.nav-link{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #C5E1E6;
}
.nav-link.active{
    border-color: #2A8086;
}
form,.nav-link{
    text-transform: uppercase;
    color: #0D444D;
}

form{
    font-size: 14px;
}
.nav-tabs{
    display: flex;
    margin: 0 0 35px;
    text-align: center;
}
.nav-item{
    width: 50%;
}
.btn-social{
    color: #2D2D2D;
    margin-bottom: 33px;
}

.btn-social a{
    width: 216px;
    height: 54px;
    justify-content: unset;
    font-size: 16px;
}
.btn-social a:first-child{
    margin-right: 12px;
}
.btn-social img{
    margin: 0 15px;
}
.modal .form-control,.btn-social a{
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.modal .form-control{
    border: none;
    width: 100%;
    height: 54px;
    margin-bottom: 19px;
}
.modal label:not(.terms){
    display: block;
    margin-bottom: 8px;
}
#checkbox{
    border-radius: 4px;
    border: 1.5px solid #19707D;
    width: 22px;
    height: 22px;
}
.terms{
    text-transform: none;
    color: #2D2D2D;
    font-size: 16px;
    vertical-align: super;
    margin-left: 12px;
}
body.active{
    overflow: hidden;
}
.modal{
    height: 100%;
    overflow: auto;
}

/* carousel */
.slides {display: none}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.main {
    position: relative;
    height: calc(100vh - 400px);
    /*height: 1000px;*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#map {
    position: static;
    width: 100%;

    cursor: grab;
    cursor: -o-grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
iframe,.owl-dot{
    display: none;
}
iframe.active,.owl-dot.active{
    display: block;
}
.owl-dot{
    cursor: pointer;
}
.justify-content-between{
    justify-content: space-between;
    margin-bottom: 14px;
}
.justify-content-between button{
    font-size: 42px;
    margin-left: 30px;
    border-radius: 50%;
}
.btn-favorite.active{
    background-color: #19707D;

}
.btn-favorite.active:before{
    color: #fff;
}
.warning{
    display: none;
    color: red;
    font-size: 22px;
    font-weight: 700;
}
.warning.active{
    display: block;
}

.tooltip-user-name{
    background-color: #fff;
    color: #0D444D;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 0 0 0 5px;
}
.navbar-nav .user-btn{
    padding: 0;
}
.logout{
    display: none;
    position: absolute;
}
.visible-md{
    position: relative;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.map{
    position: relative;
}








